/* Navigation bar styles ============= */
.container-fluid{
  background-color:rgb(77, 70, 70);
  color: #140f0f;
 
  padding: 2px;
}
.navbar-brand{
  background-color: #f2f2f2 !important;
  border-radius: 20px;
  
}
/* hero section */
.masthead{
  padding: 10px;
  background-color:rgb(98, 91, 91);

}
/* contact section */
.p-5{
  padding:5px !important;
  position: centre;
}
.mb-4 {
  margin-bottom: 0% !important
}
.div container-fluid py-5{
  padding: 20px !important;
}
/* hovering effect */
  a:hover{
    background-color:bisque;
  }
  /* footer */
  .card-header{background-color: #140f0f;
  color: bisque;}

  .card-body{
    background-image: url(../images/RN_hero.png);
    color: bisque;
  }

  .text-black-50{
    color: bisque !important;
  }




